<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result</title>
</head>
<body>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Information: </h5>
        </div>
      
        <label for="name"><strong>Your Name:</strong></label>
        <p><%= info.name %></p>
        
        <label for="location"><strong>Dojo Location:</strong></label>
        <p><%= info.location %></p>

        <label for="language"><strong>Favorite Language:</strong> </label>
        <p><%= info.fav_lang %></p>

        <label for="comment"><strong>Comment:</strong> </label>
        <p><%= info.comment %></p>

      </div>
</body>
</html>